<div class="friends-feed">

  <% @sources.order(created_at: :desc).each do |source| %>
    <div class="feed-card">

      <div class="title">
        <%= link_to source_path(source) do  %>
          <span class=""><%= source.title %></span><br>
        <% end %>
      </div>

      <% if source.user.photo.attached? %>
        <%= cl_image_tag source.user.photo.key, class: "source-avatar" %>
      <% else %>
        <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "source-avatar" %>
      <% end %>

      <%= link_to "#{source.website.gsub("www.", "")}", "#{source.url_of_website}", class: "website" %>

      <div class="tags">
        <% source.tags.each do |tag| %>
          <%= link_to "##{tag.name},", "#", class: "tag"  %>
        <% end %>
      </div>

      <div class="image">
        <% if source.photo.attached? %>
          <%= cl_image_tag source.photo.key, class: "" %>
        <% else %>
          <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "" %>
        <% end %>
      </div>

      <%= render partial: "comments/feed-comments", locals: { source: source } %>

      <div class="see-more-and-captured-by">
        <p class="see-more">See more...</p>
        <p class="captured-by">Captured by <strong class="mr-2"><%= source.user.username %></strong> <i class="far fa-clock"></i> <%= time_ago_in_words(source.created_at).gsub('about','').gsub(" days", "d").gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %> ago</p>

      </div>

    </div>
  <% end %>
</div>

