<div class="friends-feed">

  <% @sources.order(created_at: :desc).each do |source| %>
    <div class="feed-card">

      <div class="title">
        <%= link_to source_path(source) do  %>
          <span class=""><%= source.title %></span><br>
        <% end %>
      </div>

          <% if source.user.photo.attached? %>
            <%= cl_image_tag source.user.photo.key, class: "source-avatar" %>
          <% else %>
            <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "source-avatar" %>
          <% end %>

        <span class="website"><%= source.website %></span>


      <div class="image">
        <% if source.photo.attached? %>
          <%= cl_image_tag source.photo.key, class: "" %>
        <% else %>
          <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "" %>
        <% end %>
      </div>

      <div class="quotes-and-comments">
        <% source.quotes.each do |quote| %>
          <div class="quote-and-comment">
            <div class="quote">
              <i class="fas fa-quote-left"></i>
              <p class=""><span><%= quote.content %></span></p>
            </div>

            <% if quote.comments.empty? %>
              <%= form_for(@new_comment) do |f| %>
                <%= f.label "Be the first to comment:" %>
                <%= f.text_field :content %>
                <%= f.hidden_field :quote_id, :value => quote.id %>
                <%= f.submit %>
              <% end %>
            <% end %>

            <% quote.comments.where(parent_id:nil).each do |comment| %>
              <div class="comment">
                <div class="avatar">
                  <% if comment.user.photo.attached? %>
                    <%= cl_image_tag comment.user.photo.key, class: "" %>
                  <% else %>
                    <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "" %>
                  <% end %>
                </div>

                <%= comment.comment_votes_aggregate %>

                <%= link_to comment_votes_path(comment), method: :create do %>
                    <i class="fas fa-sort-up"></i>
                <% end %>
                <%= link_to comment_vote_path(comment), method: :delete do %>
                    <i class="fas fa-sort-down"></i>
                <% end %>             
                <%= link_to comment_path(id: comment.id) do %>
                  <div class="comment-content-box">
                    <div class="user-and-time">
                      <p class="user"><%= comment.user.username %></p>
                      <span class="time"><%= time_ago_in_words(comment.created_at).gsub('about','').gsub(" days", "d").gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %></span>
                    </div>
                    <p class="comment-text"><%= comment.content %></p>
                  </div>
                <% end %>
                <% if comment.comments.empty? %>
                    <%= link_to comment_path(comment), method: :delete do %>
                       <i class="far fa-trash-alt"></i>
                    <% end %>
                <% end %>
              </div>

              <% if !comment.comments.where(user_id: current_user.id).empty? %>
                <%= comment.comments.where(user_id: current_user.id).first.content %>
                <span>by</span>
                <%= comment.comments.where(user_id: current_user.id).first.user.username %>
              <% else %>

                <div class="comment">
                  <i class="far fa-comment"></i>
                  <%= form_for(@new_comment) do |f| %>
                    <%= f.label "Reply:" %>
                    <%= f.text_field :content %>
                    <%= f.hidden_field :parent_id, :value => comment.id %>
                    <%= f.hidden_field :quote_id, :value => comment.quote.id %>
                    <%= f.submit %>
                  <% end %>
                </div>
             
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

