<div id="main-feed" class="friends-feed">

  <% sources.each do |source| %>
    <div class="feed-card">

      <div class="title">
        <%= link_to source_path(source) do  %>
          <span class=""><%= source.title %></span><br>
        <% end %>
      </div>

      <%= link_to user_profile_overview_path(source.user) do %>
        <% if source.user.photo.attached? %>
          <%= cl_image_tag source.user.photo.key, class: "source-avatar" %>
        <% else %>
          <%= cl_image_tag "#{@default_profile_image}", class: "source-avatar" %>
        <% end %>
      <% end %>

      <%= link_to "#{source.website.gsub("www.", "")}", "#{source.url_of_website}", class: "website", target: "_blank" %>

      <div class="tags">
        <% source.tags.each do |tag| %>
          <%= link_to "##{tag.name},", "#", class: "tag"  %>
        <% end %>
      </div>

      <div class="image">
        <% if source.photo.attached? %>
          <%= cl_image_tag(source.photo.key) %>
        <% else %>
          <%= cl_image_tag("6v7fhlnlndyrsijtokwxy4oj9kkr") %>
        <% end %>
      </div>

      <%= render partial: "comments/feed-comments", locals: { source: source } %>

      <div class="see-more-and-captured-by">

        <% if source.user == current_user %>
          <p class="see-more">
            <%= link_to source_path(source), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        <% else %>
          <p class="see-more">See more...</p>
        <% end %>        
        <p class="captured-by">Captured by <strong class="mr-2"><%= link_to "#{source.user.username}", user_profile_overview_path(source.user) %></strong> <i class="far fa-clock"></i> <%= time_ago_in_words(source.created_at).gsub('about','').gsub(" days", "d").gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %> ago</p>
      </div>
    </div>
  <% end %>
</div>




