<div class="my-captures-sources">
  <div class="row">
    <% @sources.each do |source| %>
      <div class="col-4">
        <%= link_to source_path(source) do %>
          <div class="source">

            <div class="image">
              <% if source.photo.attached? %>
                <%= cl_image_tag(source.photo.key, class: "lazyload", :width => :auto, :crop => :scale, :responsive => :true, :responsive_placeholder => "http://res.cloudinary.com/dt31vhhp6/image/upload/c_scale,q_auto:low/#{source.photo.key}") %>
              <% else %>
                <%= cl_image_tag("6v7fhlnlndyrsijtokwxy4oj9kkr", class: "lazyload", :width => :auto, :crop => :scale, :responsive => :true, :responsive_placeholder => "http://res.cloudinary.com/dt31vhhp6/image/upload/c_scale,q_auto:low/6v7fhlnlndyrsijtokwxy4oj9kkr") %>
              <% end %>
            </div>

            <div class="description">
              <div class="title">
                <% if source.user == current_user %>
                  <p class="see-more">
                    <%= link_to source_path(source), method: :delete do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </p>
                <% end %>  
                <%= link_to source_path(source) do %>
                  <span><%= source.title %></span>
                <% end %>
              </div>

              <div class="time-and-folder">


                <div class="time-ago">
                  <span><%= time_ago_in_words(source.created_at).gsub('about','').gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %> ago </span>
                </div>

                <div class="change-folder">
                  <%= link_to "#", data: {toggle: "modal", target: "#modal-#{source.id}"} do  %>
                    <i class="move-folder-icon far fa-folder"></i>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

          <div id="modal-<%= source.id %>" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <%= simple_form_for(source) do |f| %>
                  <%= f.input :folder_id, collection: Folder.where(user_id: current_user.id), label_method: :folder_name, label: "Folder name", id: "move-folder-form", include_blank: false %>
                  <%= f.submit %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%= render 'folders/new' %>
