<div class="searchbar">
  <p class="search-bar-icon"><i class="fas fa-search"></i></p>
  <%= form_tag sources_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control searchbar-field", placeholder: "Search Capture" %>
  <% end %>
</div>

<div class="all-sources-home">
  <% @sources.each do |source| %>

  <div class="source-card">

    <%= link_to "#source-#{source.id}", data: {toggle: "collapse"}, class: "source-collapse-link" do %>
      <ul class="source-list-top-div">

        <div class="flex-div-favicon-and-title">
          <div class="d-flex">

            <!-- This is a temporary solution  -->
            <%= cl_image_tag "https://#{source.website}/apple-touch-icon.png", width: 60, height: 60, class: "favicon-source-card" %>


            <!-- <% if source.photo.attached? %>
            <%= cl_image_tag source.photo.key,
              width: 60, height: 60, class: "favicon-source-card" %>
            <% else %>
              <%= cl_image_tag("cropped-globe-favicon_dsbdl6",
                width: 60, height: 60, class: "favicon-source-card") %>
            <% end %> -->


            <div>
              <li class="source-card-title"> <strong> <%= source.title %> </strong></li>
              <p class="saved-to"><i class="fa fa-archive"></i> Saved to: <strong><%= source.folder.folder_name %></strong> </p>
            </div>
          </div>
          <div class="time-since-save-source-card">
            <p><i class="far fa-clock"></i> <%= time_ago_in_words(source.created_at).gsub('about','') %>  ago </p>
          </div>
        </div>

      </ul>
    <% end %>

    <ul class="source-list-quotes collapse" id="source-<%= source.id%>">
      <% source.quotes.each do |quote| %>

      <div class="flex-div-quote-and-content quote-javascript">
        <i class="fas fa-quote-right"></i>

        <div class="quote-content quote-source-card quote-overflow-source-card">
          <li><%= quote.content %></li>

        </div>
      </div>

      <% end %>
    </ul>



    <h1 class="delete-and-move-dropdown" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></h1>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "Move", edit_source_path(source), class: "dropdown-item" %>
      <%= link_to "Delete", source_path(source), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
    </div>

<!--     <%= link_to source_path(source), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-source-card" do   %>
      <p><i class="fas fa-trash-alt"></i></p>
    <% end %>

    <%= link_to edit_source_path(source), class: "move-link" do %>
    <p><i class="fas fa-folder"></i></p>
    <% end %> -->



    <div class="d-flex-bottom-of-source-card">

      <div>
        <p class="date_of_article"><i class="far fa-calendar-alt"></i> <%= source.date_of_article %></p> <!-- strftime("%d. %b %Y") -->
      </div>

      <div class="d-flex">
        <%= link_to "#", class: "show-locally-link", target: :_blank do   %>
          <p class="source-icons-bottom-right"><i class="fas fa-newspaper"></i></p>
        <% end %>

        <%= link_to "#{source.url_of_website}", class: "show-on-website-link", target: :_blank do %>
          <p class="source-icons-bottom-right"><i class="fas fa-link"></i></p>
        <% end %>

        <%= link_to source_path(source), class: "show-on-website-link", target: :_blank do %>
            <p class="source-icons-bottom-right"><i class="fab fa-cuttlefish"></i></p>
        <% end %>
      </div>

    </div>


  </div>
    <% end %>

    <%= link_to new_quote_path, class: "create-new-quote-index-absolute" do  %>
    <i class="fas fa-plus-square"></i>
    <% end %>

</div>


