<div class="source-show-page">
  <div id="hallo" data-controller="highlightQuotes">
    <h1 class="heading"><span class=""> <%= @source.title %></span></h1>

      <p class="article-info-subtitle"><%= link_to "#{@source.website.gsub("www.", "")}", "#{@source.url_of_website}"%> · by <%= link_to "Tara McKelvey Sterling", "#"  %>, Virginia, ·  September 22, 2020</p>


      <% if @source.user != current_user %>
        <%= link_to "#", class: "info-tag-div" do  %>
          <p class="info-tag-text "><i class="fas fa-user"></i><strong class="ml-1"><%= @source.user.username %></strong> </p>
        <% end %>
      <% else %>

        <%= link_to "#", data: {toggle: "modal", target: "#modal-#{@source.id}"}, class: "info-tag-div" do  %>
          <p class="info-tag-text"><i class="fas fa-folder"></i> <strong><%= @source.folder.folder_name %></strong> </p>
        <% end %>
      <% end %>

        <%= link_to "#", class: "info-tag-div" do  %>
          <p class="info-tag-text "><i class="fas fa-quote-right"></i><strong class="ml-1"><%= @source.quotes.count %></strong> </p>
        <% end %>

        <%= link_to "#", class: "info-tag-div" do  %>
          <p class="info-tag-text "><i class="fas fa-comment"></i></i><strong class="ml-1"><%= @all_comments.count %></strong> </p>
        <% end %>

        <div class="mt-2 mb-2">
          <% if @source.photo.attached? %>
            <%= cl_image_tag @source.photo.key, class: "article-source-photo" %>
          <% else %>
            <%= cl_image_tag "5v1a9wm3yevk4b8wsuqosjaaou2k", class: "article-source-photo" %>
          <% end %>
        </div>

        <div id="modal-<%= @source.id %>" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <%= simple_form_for(@source) do |f| %>
              <%= f.input :folder_id, collection: Folder.where(user_id: current_user.id), label_method: :folder_name, label: "Folder name", id: "move-folder-form", include_blank: false %>
              <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div>



    <div id="text" class="paragraph-text">
      <%= simple_format(@source.content) %>
    </div>

        <!-- "\r\n\r\ " for a paragraph with a space, don't forget the space! and replace all " with ' -->

</div>


  <script>

// HIGHLIGHT EXISTING QUOTES

    function highlight(text, id) {
      var inputText = document.getElementById("text");
      var innerHTML = inputText.innerHTML;
      var index = innerHTML.indexOf(text);
      if (index >= 0) {
       innerHTML = innerHTML.substring(0,index) + `<span data-id=${id} class="permanent-highlight">` + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
       inputText.innerHTML = innerHTML;
      }
    }

      fetch(`${window.location.pathname}`, {headers: { accept: "application/json"}})
        .then(response => response.json())
        .then((data) => {
          data.source_quotes.forEach((d) => {
            highlight(`${d.content.trim()}`, d.id )
          })
        });

  </script>
</div>




