

<div class="source-show">


  <h1 class="heading show-heading"><%= @source.title %></h1>
  <p class="citation"><%= link_to "#{@source.website.gsub("www.", "")}", "#{@source.url_of_website}"%></p>

  <div class="image d-flex justify-content-center">
    <% if @source.photo.attached? %>
      <%= cl_image_tag @source.photo.key, class: "image" %>
    <% else %>
      <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "image" %>
    <% end %>
  </div>

  <div class="quotes">
    <% @source.quotes.each do |quote| %>
    <div class="quote">
      <i class="fas fa-quote-left"></i>
      <p class=""><span><%= quote.content %></span></p>
    </div>

    <% quote.comments.each do |comment| %>


      <div class="comment">
        <%= comment.content%>
      </div>


    <% end %>


    <% end %>
  </div>
</div>




