<div class="">

  <div id="hallo" data-controller="highlightQuotes">

    <h1 class="heading mb-2"><%= @source.title %></h1>

    <p class="source-show-citation"><%= link_to "#{@source.website.gsub("www.", "")}", "#{@source.url_of_website}"%> · by <%= link_to "Tara McKelvey Sterling", "#"  %>, Virginia, ·  September 22, 2020</p>

    <!-- Source Image -->
    <div class="mt-2 mb-2">
      <% if @source.photo.attached? %>
        <%= cl_image_tag @source.photo.key, class: "source-show-image" %>
      <% else %>
        <%= cl_image_tag "5v1a9wm3yevk4b8wsuqosjaaou2k", class: "source-show-image" %>
      <% end %>
    </div>
  </div>

  <script>

// HIGHLIGHT EXISTING QUOTES
    function highlight(text, id) {
      var inputText = document.getElementById("text");
      var innerHTML = inputText.innerHTML;
      var index = innerHTML.indexOf(text);
      if (index >= 0) {
       innerHTML = innerHTML.substring(0,index) + `<span data-id=${id} class="permanent-highlight">` + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
       inputText.innerHTML = innerHTML;
      }
    }

      fetch(`${window.location.pathname}`, {headers: { accept: "application/json"}})
        .then(response => response.json())
        .then((data) => {
          data.source_quotes.forEach((d) => {
            highlight(`${d.content.trim()}`, d.id )
          })
        });

  </script>
</div>




