<br>
<% if @source.user != current_user %>
  <p>Captured by: <%= @source.user.username %></p>
  <% else %>
  <br>
<% end %>

<% @source.quotes.each do |quote| %>
<ul class="quote-cards-list-source-show mt-3">

  <div class="quote-card-text">

    <li> <i class="fas fa-quote-right"></i> <%= quote.content %> </li>

    <%= link_to "#quote-#{quote.id}", data: {toggle: "collapse"}, class: "remove-underline" do   %>
      <p class="comment-icon"><i class="far fa-comment"></i> <%= quote.comments.count %></p>
    <% end %>

  </div>

  <% @comment = Comment.new %>
    <div id="quote-<%= quote.id%>" class="collapse" >

        <% quote.comments.each do |comment| %>
        <ul class="each-comment-source-show" >
          <li><%= comment.content %></li>
        </ul>
        <% end %>

      <%= form_tag quote_create_comment_index_path(quote), method: :post do %>
         <%= text_field_tag :content, params[:content], class: "comment-input-field", placeholder: "Say something"  %>
      <% end %>
    </div>

</ul>
<% end %>

<!--   <div><%= cl_image_tag "https://#{@source.website}/apple-touch-icon.png", width: 60, height: 60, class: "favicon-source-card" %></div>
 -->
