
<div class="">
  <h2 class="devise-title">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs input-title">
        <div class="row">
          <div class="col-6">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="col-6">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="col-6">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="col-6">
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <div class="col-6">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="col-6">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="col-6">
            <%= f.input :tags, collection: @sign_up_tags, as: :collection_select, label_method: :name, required: true, input_html: { multiple: true } %>
          </div>


        </div>
        <%= f.input :photo, as: :file %>
      </div>

      <div class="form-actions action-btn">
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <div class="mt-2">
      <%= render "devise/shared/links" %>
    </div>
</div>

