<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  </style>
</head>
<body>
<div class="container d-flex justify-content-center w-100">
  <div>
      <div class="greeting text-center mt-3">
  <h1>Hi <%= @recipient.username %>!</h1>
  </div>

  <div class="notification-card" style="width: 700px; ">
    <div class="avatar-and-message">
      <div>
        <%= render partial: "shared/avatar", locals: { user: @notification.params[:comment].user } %>
        <%= @notification.to_notification.message %>
      </div>
      <span class="time-ago"><%= time_ago_in_words(@notification.created_at).gsub('about','').gsub(" days", "d").gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %> ago</span>
    </div>

    <% if @notification.type == "CommentNotification" %>
      <%= render partial: "notifications/comment-notification", locals: { notification: @notification } %>

    <% elsif @notification.type == "CommentReplyNotification" %>
      <%= render partial: "notifications/comment-reply-notification", locals: { notification: @notification } %>
    <% end %>

  </div>

  <div class="text-center">
    <span class="view-notification-btn"><%= link_to "View", notifications_url %></span>

    <p class="unsubscribe-text">if you wish to unsubscribe please <%= link_to "here", edit_user_registration_url %></p>
  </div>

</div>

  </div>

</body>
</html>


