<% comments.to_a.sort_by(&:comment_votes_aggregate).reverse.each do |comment| %>
<span class="comment-anchor" id="comment-<%= comment.id %>"></span>
  <div class="comment-div" id="">
    <div class="comment">

      <div class="votes">
        <% if comment.liked_by_user?(current_user) == nil %>
          <span class="vote-anchor" id="vote-<%= comment.id %>"></span>
          <%= link_to "", comment_votes_path(comment), class: "fas fa-sort-up upvote", method: :create %>
          <span class="number-of-votes"><%= comment.comment_votes_aggregate %></span>
          <%= link_to "", comment_vote_path(comment), class: "fas fa-sort-down downvote", method: :delete %>

        <% elsif comment.liked_by_user?(current_user) == true %>
          <span class="vote-anchor" id="vote-<%= comment.id %>"></span>
          <%= link_to "", comment_votes_path(comment), class: "fas fa-sort-up upvote", id:"active-vote", method: :create %>
          <span class="number-of-votes"><%= comment.comment_votes_aggregate %></span>
          <%= link_to "", comment_vote_path(comment), class: "fas fa-sort-down downvote", method: :delete %>

        <% elsif comment.liked_by_user?(current_user) == false %>
          <span class="vote-anchor" id="vote-<%= comment.id %>"></span>
          <%= link_to "", comment_votes_path(comment), class: "fas fa-sort-up upvote", method: :create %>
          <span class="number-of-votes"><%= comment.comment_votes_aggregate %></span>
          <%= link_to "", comment_vote_path(comment), class: "fas fa-sort-down downvote", id:"active-vote", method: :delete %>
        <% end %>
      </div>

      <%= link_to user_profile_overview_path(comment.user) do %>
        <div class="comment-avatar">
          <% if comment.user.photo.attached? %>
            <%= cl_image_tag comment.user.photo.key, class: "" %>
          <% else %>
            <%= cl_image_tag "#{@default_profile_image}", class: "" %>
          <% end %>
        </div>
      <% end %>
      
      <div class="box-and-btn">
        

          <div class="comment-content-box">
            <div class="user-and-time">
            <%= link_to user_profile_overview_path(comment.user) do %>
              <p class="user comment-text"><%= comment.user.username %></p>
            <% end %>
              <span class="time"><%= time_ago_in_words(comment.created_at).gsub('about','').gsub(" days", "d").gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %></span>
            </div>
            <%= link_to comment_path(comment) do %>
              <p class="comment-text"><%= comment.content %></p>
            <% end %>

            <% unless comment.source&.nil? %>
              <%= link_to "Source", comment.source, :class => "comment-source", target: "_blank" %>
            <% end %>

          </div>

       

        <div class="reply-btn">
          <%= link_to "#", data: {toggle: "modal", target: "#modal-#{comment.id}"} do  %>
            Reply
          <% end %>
        </div>
      </div>


      <!-- Delete Sub Comment -->
      <% if comment.user == current_user %>
        <div class="comment-delete">
          <%= link_to comment_path(comment), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>

      <% @new_comment = Comment.new %>
      <div class="modal fade" id="modal-<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content p-1">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Reply to <span>"<%= comment.content %>"</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                 <%= form_for(@new_comment) do |f| %>
                   <%= f.label "Comment:" %>
                   <%= f.text_field :content %>
                   <%= f.label "Source:" %>
                   <%= f.text_field :source %>
                   <%= f.hidden_field :parent_id, :value => comment.id %>
                   <%= f.hidden_field :quote_id, :value => comment.quote.id %>
                   <%= f.submit class: 'comment_submit' %>
                 <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <%= render partial: "comments/comment-reply", locals: { comments: comment.comments } %>
  </div>
<% end %>


