<div class="quotes-and-comments">
  <% source.quotes.each do |quote| %>
    <div class="quote-and-comment">
      <div class="quote">
        <i class="fas fa-quote-left"></i>
        <p class=""><span><%= quote.content %></span></p>
      </div>

      <% if quote.comments.empty? %>
        <div class="quote-comment-btn">
          <%= link_to "#", data: {toggle: "modal", target: "#modal-#{quote.id}"} do  %>
            Be the first to comment!
          <% end %>
        </div>
      <% else %>
        <div class="quote-comment-btn">
          <%= link_to "#", data: {toggle: "modal", target: "#modal-#{quote.id}"} do  %>
            Comment
          <% end %>
        </div>

      <% end %>

      <!-- Comments -->
      <div class="comments-div">
        <%= render partial: "comments/comment-reply", locals: { comments: quote.comments.where(parent_id:nil) } %>
      </div>
    </div>

    <% @new_comment = Comment.new %>
    <div class="modal fade" id="modal-<%= quote.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-1">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Comment on <span>"<%= quote.content %>"</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="">
               <%= form_for(@new_comment) do |f| %>
                 <%= f.label "Comment:" %>
                 <%= f.text_field :content %>
                 <%= f.label "Source:" %>
                 <%= f.text_field :source %>
                 <%= f.hidden_field :quote_id, :value => quote.id %>
                 <%= f.submit class: 'comment_submit' %>
               <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
