<div class="quotes-and-comments">

  <% source.quotes.each do |quote| %>
    <div class="quote-and-comment">
      <div class="quote">
        <i class="fas fa-quote-left"></i>

        <p class=""><span><%= quote.content %></span></p>
        <% if quote.user = current_user %>
          <%= link_to quote_path(quote), method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>

      </div>

      <!-- Be the First to Comment -->
      <% if quote.comments.empty? %>
        <% @new_comment = Comment.new %>
        <%= form_for(@new_comment) do |f| %>
          <%= f.label "Be the first to comment:" %>
          <%= f.text_field :content %>
          <%= f.hidden_field :quote_id, :value => quote.id %>
          <%= f.submit %>
        <% end %>
      <% end %>

      <% quote.comments.where(parent_id: nil).each do |comment| %>
        <!-- Replies -->
        <div class="ml-4">
            <%= render partial: "comments/comment-reply", locals: { comment: comment } %>


        <% comment.comments.each do |reply| %>
          <div class="ml-4">
              <%= render partial: "comments/comment-reply", locals: { comment: reply } %>

              <%= render partial: "comments/comment-reply", locals: { comment: reply } %>
          </div>
        <% end %>
        </div>
      <% end %>





    </div>
  <% end %>
</div>
