<div style="margin-left: <%= 22 %>px"> 

    <%= link_to comment_path(id: comment.id) do %>
        <h2><%= comment.content %></h2>
    <% end %>

     <% unless comment.source.nil? %>
        <%= link_to "Source", comment.source, :class => "comment-source", target: "_blank" %>
    <% end %>

    <% if comment.comments.empty? %>
        <i class="far fa-trash-alt"></i>
        <%= link_to "Delete this Comment",
            comment_path(comment),
            method: :delete %>
    <% end %>

    <%= comment.comment_votes_aggregate %>

    <%= link_to comment_votes_path(comment), method: :create do %>
        <i class="fas fa-sort-up"></i>
    <% end %>
    <%= link_to comment_vote_path(comment), method: :delete do %>
        <i class="fas fa-sort-down"></i>
    <% end %>
</div>



