<%= link_to comment_path(id: comment.id) do %>
    <h2><%= comment.content %></h2>
<% end %>

<%= link_to "Delete this Comment",
    comment_path(comment),
    method: :delete %>

  <%= comment.comment_likes_count %>


  <% if current_user&.comment_likes&.where(comment_id: comment.id)&.any? %>
    <%= link_to comment_like_path(comment), method: :delete do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to comment_likes_path(comment), method: :create do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
