<div class="right-column">
  <h2 class="right-column-heading mt-2"><span class="">Friend Activity</span></h2>

  <div class="friend-feed-cards">

    <% @sources = policy_scope(Source).where(user: current_user.following) %>
    <% @comments = policy_scope(Comment).where(user: current_user.following) %>

    <% @items = [] %>

    <% @sources.each do |source| %>
      <% @items << source %>
    <% end %>
    <% @comments.each do |comment| %>
      <% @items << comment %>
    <% end %>

    <% @items.sort_by{|e| !e[:created_at]}.each do |item| %>


        <div class="friend-card">

          <div class="d-flex justify-content-between">
            <%= link_to user_profile_overview_path(item.user), class: "friend-card-link" do %>
              <div class="d-flex align-items-center avatar-and-username">
                <% if item.user.photo.attached? %>
                  <%# <%= cl_image_tag item.user.photo.key, class: "friend-card-avatar" %> %>
                <% else %>
                  <%# <%= cl_image_tag "b08hxPY_jhyrxg", class: "avatar-small" %> %>
                <% end %>
                <div class="ml-2 username">
                  <%= item.user.username %>

                  <% if item.class == Source  %>
                    <p class="action">captured: </p>
                  <% else %>
                    <p class="action">commented on: </p>
                  <% end %>

                </div>
              </div>
            <% end %>

              <div class="time">
                <p> <%= time_ago_in_words(item.created_at).gsub('about','').gsub('less than', '').gsub(' a ', '1 ').gsub("months", "mon") %> </p>
              </div>
          </div>

          <% if item.class == Source %>
            <%= link_to source_path(item), class: "friend-card-link" do  %>
            <div class="friend-source-title">
                <p class="source-title"><%= item.title %></p>
            </div>
            <div>
                <p class="source-sub-info"><%= link_to "#{item.website.gsub("www.", "")}", "#{item.url_of_website}", class: "source-sub-info" %> · by <%= link_to "Tara McKelvey Sterling", "#", class: "source-sub-info"  %> </p>
            </div>
            <% end %>
          <% else %>
            <%= link_to source_path(item.quote.source), class: "friend-card-link" do  %>
            <div class="friend-source-title">
                <p class="source-title"><%= item.quote.source.title %></p>
            </div>
            <div>
                <p class="source-sub-info"><%= link_to "#{item.quote.source.website.gsub("www.", "")}", "#{item.quote.source.url_of_website}", class: "source-sub-info" %> · by <%= link_to "Tara McKelvey Sterling", "#", class: "source-sub-info"  %> </p>
            </div>
            <% end %>
          <% end %>

      </div>


    <% end %>
  </div>
</div>

