<div class="component-div">
  <h4 class="component-header">Newest Members</h4>

  <div class="suggested-for-you">
    <% @suggested_users.take(3).each do |user| %>

    <div class="user">
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key , class: "avatar"%>
      <% else %>
        <%= cl_image_tag "#{@default_profile_image}", class: "avatar" %>
      <% end %>

      <div>
        <p class="name"><%= link_to "#{user.username}", user_profile_overview_path(user)  %></p>

          <p class="tags">
            <% user.tags.each do |tag| %>
              <%= link_to "##{tag.name},", "#", class: "tag"  %>
            <% end %>
          </p>

        <%= link_to create_relationship_path(user, current_user), method: :create, class: "follow-btn" do %>
          <span class="follow-text"><i class="fas fa-plus"></i> Follow </span>
        <% end %>
      </div>
    </div>
    <% end %>

    <span class=""><%= link_to "See all Suggestions...", all_user_suggestions_path, class: "see-all-suggestions" %></span>
  </div>
</div>
