
<div class="d-flex profile-dropdown align-items-center">

<% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "profile-dropdown-avatar" %>
    <% else %>
        <%= cl_image_tag "b08hxPY_jhyrxg", class: ".avatar-user-show dropdown-toggle",
        id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>

  <%= link_to "#{current_user.username}", user_profile_overview_path(current_user), class: "username" %>

  <div class="caret" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <p><i class="fas fa-chevron-down"></i></p>
  </div>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "Private Session", new_folder_path, class: "dropdown-item" %>
    <%= link_to "Account", new_quote_path, class: "dropdown-item" %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>


</div>
