<%= link_to root_path, class: "remove-underline" do  %>
  <div class="d-flex mt-1 align-items-center logo-and-website-div">
    <%# <%= cl_image_tag "capture_logo_copy_q14wdh", width: 30 %> %>
    <h1 class="logo-title">Capture</h1>
  </div>
<% end %>

<div class="div-main-links">
  <%= link_to sources_path, class: "main-link" do  %>
    <div class="d-flex align-items-center">
      <% if current_page?(sources_path) %>
        <p class="active-caret"><i class="fas fa-caret-right"></i></p>
      <% end %>
      <div class="main-link-icon d-flex justify-content-center">
        <p><i class="fas fa-home"></i></p>
      </div>
      <p class="main-link-text">Home</p>
    </div>
  <% end %>

  <%= link_to user_profile_overview_path(current_user), class: "main-link" do  %>
    <div class="d-flex align-items-center">
      <% if (current_page?(user_profile_overview_path(current_user)) || current_page?(user_profile_followers_path(current_user))||current_page?(user_profile_following_path(current_user))) %>
        <p class="active-caret"><i class="fas fa-caret-right"></i></p>
      <% end %>
      <div class="main-link-icon d-flex justify-content-center">
        <p><i class="fas fa-bell"></i></i></p>
      </div>
      <p class="main-link-text">Notifications</p>
    </div>
  <% end %>
</div>

<!--   <div class="d-flex dropdown align-items-center">
    <div class="d-flex new-button align-items-center" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <p class="plus-icon"><i class="fas fa-plus"></i></p>
      <p class="text">New</p>
    </div>

    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "Folder", new_folder_path, class: "dropdown-item" %>
      <%= link_to "Quote", new_quote_path, class: "dropdown-item" %>
    </div>
  </div> -->

  <p class="your-folders ">Your Folders</p>

  <% folders.each do |folder| %>
    <%= link_to folder_path(folder), class: "remove-hover" do %>
      <div class="d-flex align-items-center">
        <% if current_page?(folder_path(folder)) %>
          <p class="active-caret-horizontal"><i class="fas fa-caret-right"></i></p>
        <% end %>
        <p class="folder-text"><%= folder.folder_name %></p>
      </div>
    <% end %>

  <% end %>




