

      <%= link_to root_path do  %>
      <%= cl_image_tag("pngtree-camera-hand--logo-template-with-line-art-style-image_128418_hdebp6",
      width: 110, height: 110, crop: :fit, class: "logo-sidebar") %>
      <% end %>

<div class="div-main-links-sidebar">
    <ul class="nav-bar-links">
      <%= link_to sources_path, class: "nav-bar-links" do  %>
      <% if current_page?(sources_path) %>
      <li class="POS-ABS"><i class="fas fa-caret-right"></i></li>
      <% end %>
      <li><i class="fas fa-home"></i></li>
      <li class="home-btn-navbar"><strong>Home</strong></li>
      <% end %>
    </ul>

    <ul class="nav-bar-links">
      <li> <i class="fas fa-bell"></i></li>
      <li class=""><strong>Notifications</strong></li>
    </ul>

    <ul class="nav-bar-links">
      <li> <i class="fas fa-search"></i></li>
      <li class=""><strong>Search</strong></li>
    </ul>
</div>

  <ul class="ul-new-button">
  <li class="d-flex dropdown align-items-center">
    <div class="d-flex new-button align-items-center" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <p class="plus-icon-new-button"><i class="fas fa-plus"></i></p>
        <p class="new-text-new-button">New</p>
      </div>

    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <%= link_to "Folder", new_folder_path, class: "dropdown-item" %>
      <%= link_to "Quote", new_quote_path, class: "dropdown-item" %>
    </div>
  </li>
</ul>

<div class="all-folders-in-sidebar">

  <ul class="ul-all-folders">
  <% folders.each do |folder| %>
    <%= link_to folder_path(folder), class: "folder-link ul-text-decoration" do %>
      <div class="div-folder-in-sidebar <%= "active" if current_page?(folder_path(folder)) %>">
    <% if current_page?(folder_path(folder)) %>
    <li class="POS-ABS"><i class="fas fa-caret-right"></i></li>
    <% end %>
        <li class="folder-in-sidebar"> <i class="fa fa-archive"></i> <%= folder.folder_name %></li>
      </div>
    <% end %>
  <% end %>
  </ul>
</div>


