<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-title-and-user">

  <% if current_page?(sources_path) %>
    <h1 class="heading"><span class="underline--magical">Home</span></h1>
  <% elsif @folder_page %>
    <h1 class="heading"><span class="underline--magical"> <%= @folder.folder_name %> </span></h1>
  <% elsif current_page?(new_quote_path) %>
    <h1 class="heading"><span class="underline--magical">Add a Quote</span></h1>
  <% elsif current_page?(new_source_path) %>
    <h1 class="heading"><span class="underline--magical">Create a new Capture</span></h1>
  <% elsif current_page?(new_folder_path) %>
    <h1 class="heading"><span class="underline--magical">Create a new Folder</span></h1>
    <% elsif (!@source.nil? && current_page?(source_path(@source.id))) %>
  <h1 class="subheading-source-show"><span class="underline--magical"> <%= @source.title %></span></h1>
  <% else %>
    <h1 class="heading"><span class="underline--magical">Capture</span></h1>

  <% end %>

  <!-- <div class="page-title">

    <% if current_page?(sources_path) %>
    <% elsif @folder_page %>

        <% elsif current_page?(new_quote_path) %>
          <%= cl_image_tag('brush-stroke-banner-1-onlygfx-dot-com_wetwbe', width: "120%;", height: "90px;" ,class: "title-brush-big") %>
          <h1>Create a new Quote</h1>

          <% elsif current_page?(new_source_path) %>
            <%= cl_image_tag('brush-stroke-banner-1-onlygfx-dot-com_wetwbe', width: "120%;", height: "90px;" ,class: "title-brush-big") %>
            <h1>Create a new Source</h1>

        <% elsif current_page?(new_folder_path) %>
          <%= cl_image_tag('brush-stroke-banner-1-onlygfx-dot-com_wetwbe', width: "120%;", height: "90px;" ,class: "title-brush-big") %>
          <h1>Create a new Folder</h1>

        <% else %>
        <h1>Capture</h1>
    <% end %>

  </div> -->
  <!-- if it's a folder show page, do @folder.folder_name, if its the home page put home, if its notification put notifications ... there is only about 4 - 5 situations -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="d-flex nav-item dropdown align-items-center">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
              <%= cl_image_tag "b08hxPY_jhyrxg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <p class="username"> <%= current_user.username %> <i class="fas fa-caret-down"></i> </p>

        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", user_profile_overview_path(current_user), class: "dropdown-item" %>
          <%= link_to "Friends", "#", class: "dropdown-item" %>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item"%>
          <%= link_to "Log out", "#", class: "dropdown-item"%>
        </div>
      </li>

    </ul>
  </div>
</div>
