<div class="d-flex align-items-center">

  <div class="user-show-avatar">
    <% if @user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-user-show dropdown-toggle",
        id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
        <%= cl_image_tag "b08hxPY_jhyrxg", class: ".avatar-user-show dropdown-toggle",
        id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
  </div>

  <div>
    <h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
    <p> @<%= @user.username %> </p>
  </div>
</div>

<div class="">
  <div class="d-flex">
    <div class=" user-link-div <%= "user-link-div-active" if current_page?(user_profile_overview_path(@user)) %>">
      <%= link_to "Overview", user_profile_overview_path(@user), class: 'user-link'  %>
    </div>
    <div class="user-link-div <%= "user-link-div-active" if current_page?(user_profile_followers_path(@user)) %>">
      <%= link_to "Followers", user_profile_followers_path(@user), class: "user-link"  %>
    </div>
    <div class="user-link-div <%= "user-link-div-active" if current_page?(user_profile_following_path(@user)) %>">
      <%= link_to "Following", user_profile_following_path(@user), class: "user-link"  %>
    </div>

  </div>
</div>
