<div class="d-flex justify-content-between stats mb-1">
  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_captures %></span> <br>
      <span class="descriptor"><%= link_to "Captures", user_profile_overview_path(@user), class: "user-link"%></span>
    </div>
  </div>
  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_comments %></span> <br>
      <span class="descriptor"><%= link_to "Comments", coming_soon_path, class: "user-link"%></span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_followers %></span> <br>
      <span class="descriptor"><%= link_to "Followers", user_profile_followers_path(@user), class: "user-link"%></span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_following %></span> <br>
      <span class="descriptor"><%= link_to "Following", user_profile_following_path(@user), class: "user-link"%></span>
    </div>
  </div>
</div>

<% if @user == current_user %>
  <div class="log-out-and-edit">
    <div class="log-out">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "log-out" %>
    </div>

    <form action="/users/enter_private_mode", method="post">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" onChange='submit();' <%= "checked" if current_user.private_mode %>>
        <label class="custom-control-label" for="customSwitch1">Private Session</label>
      </div>
    </form>

    <div>
      <%= link_to edit_user_registration_path, class: "edit-profile" do %>
        <span class="">Edit Profile</span>
      <% end %>
    </div>
  </div>
<% else %>

  <div class="profile-follow-btn-div">
      <% if ((Relationship.where(asker: current_user, receiver: @user, status: 1).size > 0) ) %>
        <%= link_to delete_relationship_path(@user), method: :delete, class: "profile-follow-btn" do %>
          <span class="profile-follow-text"> Unfollow </span>
        <% end %>
      <% else %>
        <%= link_to create_relationship_path(@user), method: :create, class: "profile-follow-btn" do %>
          <span class="profile-follow-text"> Follow </span>
        <% end %>
      <% end %>
  </div>
<% end %>
