<%= render 'shared/navbars/landing-page-navbar' %>


<div class="landing-page">

  <div class="hero">
    <div class="hero-content mt-5">
      <div class="text">
        <h1 class="title">Capture what's <br> important</h1>
        <h2 class="subtitle">Save, Read and Discuss News from all <br> around the internet. <strong><%= link_to "Learn more", about_us_path  %></strong>.</h2>
      </div>

      <div class="image">
        <%= cl_image_tag "Screenshot_2021-03-24_at_21.01.30_j24nyt", width: 400;  %>

      </div>
    </div>

  </div>

  <div class="content">

    <div class="trending-articles">
      <div class="header">
        <p class="title">Trending Articles</p>
        <%= link_to "See all", feed_path, class: "see-all" %>

      </div>
      <div class="row trending-article-row">
        <% @sources.each do |source| %>
          <div class="col-4 trending-article-col">
            <div class="source">
             
                <%= link_to source_path(source) do %>
                  <div class="image">
                    <% if source.photo.attached? %>
                      <%= cl_image_tag source.photo.key, class: "" %>
                    <% else %>
                      <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "" %>
                    <% end %>
                  </div>
                <% end %>

                <div class="description">
                  <%= link_to source_path(source) do %>
                    <p class="title"><%= source.title %></p>
                  <% end %>
                  <p>
                    <%= link_to "#{source.website.gsub("www.", "")}", "#{source.url_of_website}", class: "website", target: "_blank" %>
                  </p>
                </div>


            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="other-trending">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>


  </div>
</div>
