<style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
</style>

<div class="first-landing-page" >

  <div style="background-color: #1E202C; height: 100vh; z-index: -1; position: absolute; top: 0; left: 0; ">
    <%= cl_image_tag "crowd_z9xbj9", class: "background-image-class" %>
  </div>

      <div class="text-center banner-text">
        <div class="d-flex align-items-center justify-content-center">
          <%= cl_image_tag "capture_logo_copy_q14wdh", width: 50 %>
          <h1 class="website-title">Capture</h1>
        </div>

        <h3 class="website-subtitle mt-2">A Summary of the Internet</h3>

        <% @source = Source.new %>
          <%= form_for [@source] do |f| %>
          <div class="d-flex justify-content-center early-access-form">
            <div class="field">
              <%= f.text_field :title, required: true, class: "form-email", placeholder: "Enter email address" %>
            </div>

            <div class="actions">
              <%= f.submit "Get Early Access", class: "form-submit" %>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-center">
          <div class="d-flex watch-the-film align-items-center">
            <h5 class="watch-the-film-text">Watch the Video</h5>
            <span class="watch-the-film-icon"><i class="fas fa-play-circle"></i></span>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <div class="log-in-homepage">
          <% if !user_signed_in? %>
            <%= link_to "Log in", new_user_session_path, class: "remove-underline" %>
          <% else %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "remove-underline" %>
          <% end %>
        </div>
      </div>
</div>
