<%= render 'shared/navbars/landing-page-navbar' %>


<div class="landing-page">

  <div class="hero">
    <div class="hero-content">
      <div class="text">
        <h1 class="title">Capture what's <br> important</h1>
        <h2 class="subtitle">Save, Read and Discuss News from all <br> around the internet. Learn More. </h2>
      </div>

      <div class="image">
        <%= cl_image_tag "Screenshot_2021-03-24_at_21.01.30_j24nyt", width: 400;  %>

      </div>
    </div>

  </div>

  <div class="content">
    <div class="trending-articles">
      <p class="header">Trending Articles</p>
      <div class="row trending-article-row">
        <% @sources.each do |source| %>
          <div class="col-4 trending-article-col">

            <div class="source">
              <%= link_to source_path(source) do %>
                <div class="image">
                  <% if source.photo.attached? %>
                    <%= cl_image_tag source.photo.key, class: "" %>
                  <% else %>
                    <%= cl_image_tag "6v7fhlnlndyrsijtokwxy4oj9kkr", class: "" %>
                  <% end %>
                </div>
              <% end %>

              <div class="description">
                <p class="title"><%= source.title %></p>
                <p class="website"><%= source.website %></p>
              </div>

              <span class="primary-line"></span>
              <span class="secondary-line"></span>


            </div>

          </div>
        <% end %>
      </div>
    </div>

    <div class="other-trending">

    </div>
  </div>
</div>
