<!-- When search is filled -->
<% if !@results.nil? %>

  <div class="row mt-5 m-1">

        <% if @sources.size > 0 %>
      <div class="col-6 no-marg-no-pad">
        <p class="model-title">Captures</p>
        <div class="row no-marg-no-pad">
          <% @sources.take(4).each do |source| %>
          <div class="col-6 col-6-global-search">

            <%= link_to source_path(source), class: "remove-hover" do  %>
            <div class="global-search-card-source">
                <%= cl_image_tag "umnpg0sho7qgwftngqsn", class: "global-search-source-banner dropdown-toggle" %>
                <div class="title">
                  <p><%= source.title %></p>
                </div>

            </div>
            <% end %>

          </div>
          <% end %>
        </div>
      </div>
    <% end %>

        <% if @users.size > 0 %>
      <div class="col-6 no-marg-no-pad">
        <p class="model-title">Users</p>
        <div class="row no-marg-no-pad">
          <% @users.take(8).each do |user| %>
          <div class="col-6 col-6-global-search">

            <%= link_to user_profile_overview_path(user), class: "remove-hover" do  %>
              <div class="global-search-card-user d-flex align-items-center">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar-global-search dropdown-toggle",
                    id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                    <%= cl_image_tag "b08hxPY_jhyrxg", class: "avatar-global-search dropdown-toggle",
                    id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>

                <div class="global-search-username-follower-count-div">
                  <p><%= user.username %></p>
                  <p class="follower-count"><%= user.followers.count %> Followers </p>
                </div>

              </div>
            <% end %>

          </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

<!-- When Search is empty -->
<% else %>
  <%= @ja %>


<% end %>
