<div class="d-flex justify-content-between stats mb-3">
  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_captures %></span> <br>
      <span class="descriptor"><%= link_to "Captures", user_profile_overview_path(@user), class: "user-link"%></span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_comments %></span> <br>
      <span class="descriptor"><%= link_to "Comments", coming_soon_path, class: "user-link"%></span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_followers %></span> <br>
      <span class="descriptor"><%= link_to "Followers", user_profile_followers_path(@user), class: "user-link"%></span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_following %></span> <br>
      <span class="descriptor"><%= link_to "Following", user_profile_following_path(@user), class: "user-link"%></span>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <span class="profile-primary-line"></span>
    <span class="profile-secondary-line"></span>
  </div>
</div>

<% if @user == current_user %>
  <div class="log-out-and-edit">
    <div class="log-out">
        <%= link_to "Log Out", destroy_user_session_path(@user), method: :delete, class: "log-out" %>
    </div>

    <div>
      <%= link_to edit_user_registration_path, class: "edit-profile" do %>
        <span class="">Edit Profile</span>
      <% end %>
    </div>
  </div>
<% else %>

  <div class="follow-btn-div">
      <% if ((Relationship.where(asker: current_user, receiver: @user, status: 1).size > 0) ) %>
        <%= link_to delete_relationship_path(@user), method: :delete, class: "follow-btn" do %>
          <span class="follow-text"> Unfollow </span>
        <% end %>
      <% else %>
        <%= link_to create_relationship_path(@user), method: :create, class: "follow-btn" do %>
          <span class="follow-text"> Follow </span>
        <% end %>
      <% end %>
  </div>
<% end %>




<!-- Profile Folders -->
<div class="profile-folders">
  <h1 class="title">Public Folders</h1>

  <div class="row">
    <% @public_folders.take(6).each do |folder| %>
      <div class="col-4">
        <%= link_to folder_path(folder) do  %>
          <div class="folder">
            <p class="folder-content"><i class="far fa-folder"></i><%= folder.folder_name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Profile Recent Activity -->

<div class="profile-recent-activity">
  <h1 class="recent-activity-title">Recent Captures</h1>

  <%= render 'shared/sources/friends-feed' %>
</div>


