<div class="d-flex justify-content-between stats mb-3">
  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_captures %></span> <br>
      <span class="descriptor">Captures</span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_comments %></span> <br>
      <span class="descriptor">Comments</span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_followers %></span> <br>
      <span class="descriptor">Followers</span>
    </div>
  </div>

  <div>
    <div class="text-center">
      <span class="value"><%= @number_of_following %></span> <br>
      <span class="descriptor">Following</span>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <span class="profile-primary-line"></span>
    <span class="profile-secondary-line"></span>
  </div>
</div>

<div class="follow-and-edit">
  <div class="follow">
    <% if ((Relationship.where(asker: current_user, receiver: @user, status: 1).size > 0) ) %>
      <%= link_to "Unfollow", delete_relationship_path(@user, current_user), method: :delete, class: "follow-btn" %>
    <% else %>
      <%= link_to "Follow", create_relationship_path(@user, current_user), method: :create, class: "follow-btn" %>
    <% end %>
  </div>

  <div>
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path, class: "edit-profile" do %>
        <span class="">Edit Profile</span>
      <% end %>
    <% end %>

  </div>

</div>


<!-- Profile Folders -->
<div class="profile-folders">
  <h1 class="title">Public Folders</h1>

  <div class="row">
    <% @public_folders.take(6).each do |folder| %>
      <div class="col-4">
        <%= link_to folder_path(folder) do  %>
          <div class="folder">
            <p class="folder-content"><i class="far fa-folder"></i><%= folder.folder_name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Profile Recent Activity -->

<div class="profile-recent-activity">
  <h1 class="title">Recent Activity</h1>

  <% @recent_activity.take(8).each do |activity| %>
    <% if activity.class == Source %>

    <% else %>

    <% end %>
  <% end %>
</div>

<% if @user = current_user  %>
  <%= link_to "LOG OUT", destroy_user_session_path, method: :delete   %>
<% end %>


