<%= render 'pages/profile-header' %>

<!-- Profile Folders -->
<div class="profile-folders">
  <h1 class="title">Public Folders</h1>

  <div class="row">
    <% @public_folders.take(6).each do |folder| %>
      <div class="col-4">
        <%= link_to folder_path(folder) do  %>
          <div class="folder">
            <p class="folder-content"><i class="far fa-folder"></i><%= folder.folder_name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- Profile Recent Activity -->
<div class="profile-recent-activity">
  <h1 class="recent-activity-title">Recent Captures</h1>
  <%= render partial: "shared/sources/friends-feed", locals: { sources: @sources } %>
</div>

<% unless @sources == [] %>
  <%= render partial: "shared/pages/get-sources-for-profile-overview", locals: { user: @user } %>
<% end %>

