<%= render 'shared/profile-user-header' %>

<div class="row folders-activity-div">
  <div>
    <h3 class="overview-header">Public Folders</h3>
    <div>
      <% @public_folders.take(4).each do |folder| %>
        <div class="col-6">

          <%= link_to folder_path(folder), class: "remove-underline" do  %>
            <div class="folder">
              <div class="folder-content">
                <i class="far fa-folder"></i>
                <p><%= folder.folder_name %></p>
              </div>
            </div>
        
          <p class="overview-folder-name mb-1"></p>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>

  <div class="col-6" id="activity-wrapper">
    <h3 class="overview-header">Recent Activity</h3>
    
    <div>

      <% @recent_activity.take(8).each do |activity| %>

        <% if activity.class == Source %>


          <div class="source-card mt-0" id="activity-card">

            <div class="activity-flex">

              <div class="">
                <% if activity.photo.attached? %>
                  <%= cl_image_tag activity.photo.key, class: "activity-source-photo" %>
                <% else %>
                  <%= cl_image_tag "b08hxPY_jhyrxg", class: "activity-source-photo" %>
                <% end %>
              </div>
              <div>
                <%= link_to source_path(activity), class: "recent-capture-link" do %>
                  Captured: <%= activity.title %>
                <% end %>
                <span class="recent-capture-sub-info"><%= link_to "#{activity.website.gsub("www.", "")}", "#{activity.url_of_website}", class: "source-sub-info" %> · by <%= link_to "Tara McKelvey Sterling", "#", class: "source-sub-info"  %> </span>
                <p class="activity-time-ago"> <%= time_ago_in_words(activity.created_at).gsub('about','').gsub("less than a", "1").gsub(" minutes", "m").gsub(" hours", "h") %> ago </p>
              </div>
          
            </div>


          </div>






        <% else %>
        commented: <%= activity.class %> <br>
        <% end %>


      <% end %>

    </div>

  </div>
</div>


