<!-- Links -->
<div class="side-navbar">
  <div class="sidebar-links">

    <%= link_to feed_path, class: "" do  %>
      <div class="d-flex sidebar-link ">
        <i class="fab fa-discourse icon"></i>
        <p class="">Start</p>
      </div>
    <% end %>

    <%= link_to discover_feed_path, class: "" do  %>
      <div class="d-flex sidebar-link">
        <i class="fas fa-search icon"></i>
        <p class="">Discover</p>
      </div>
    <% end %>

    <%= link_to notifications_path, class: "" do  %>
      <div class="d-flex sidebar-link">
        <i class="far fa-bell icon"></i>
        <p class="">Notifications</p>

        <% if current_user.notifications.unread.count > 0 %>
          <p class="red-notification-indicator"><%= current_user.notifications.unread.count %></p>
        <% end %>
      </div>
    <% end %>

    <%= link_to coming_soon_path, class: "" do  %>
      <div class="d-flex sidebar-link mb-5">
        <i class="fas fa-chart-line icon"></i>
        <p class="">Charts</p>
      </div>
    <% end %>

    <%= link_to sources_path, class: "" do  %>
      <div class="d-flex sidebar-link">
        <i class="far fa-bookmark icon"></i>
        <p class="">My Captures</p>
      </div>
    <% end %>

    <%= link_to user_profile_overview_path(current_user), class: "" do  %>
      <div class="d-flex sidebar-link mb-0">
        <i class="far fa-user icon"></i>
        <p class="">Profile</p>
      </div>
    <% end %>

  </div>
</div>





