<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <title>Capture</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <%= javascript_pack_tag 'application', defer: true %>

    <% if user_signed_in? && current_user.notifications.unread.count > 0 %>
      <%= favicon_link_tag asset_path('capture_logo_with_notification.png') %>
    <% else %>
      <%= favicon_link_tag asset_path('capture_logo.png') %>
    <% end %>

  </head>
      <body>
        <!-- Landing Page -->
        <% if @landing_page_navbar %>
          <%= render 'shared/flashes' %>
          <%= yield %>

        <% elsif @outside_app %>
          <div class="outside-app-content">
            <%= yield %>
          </div>

        <!-- In-App -->
        <% else %>
          <%= render 'shared/flashes' %>
          <%= render 'shared/navbars/top-navbar' %>

          <div class="display-flex-container">

            <!-- Sidebar (Left-Navbar)-->
            <div class="sidebar-rest">
              <%= render 'shared/left-column/left-column' %> <!-- this is comming from the application controller (set_folder method) -->
            </div>


            <div class="center-right-column">
              <%= render 'shared/page-title' %>


              <div class="d-flex justify-content-between">
                <!-- Center Content -->
                <div class="center-content">
                  <%= yield %>
                </div>

                <!-- Right Column -->
                <div class="right-column">
                  <%= render 'shared/right-column/right-column' if user_signed_in?%>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </body>
</html>
