<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <title>Capture</title>


    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merriweather&display=swap" rel="stylesheet">


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= favicon_link_tag asset_path('Favicon_capture.png') %>

  </head>

  <body>
    <%= render 'shared/flashes' %>

    <% if @landing_page_navbar %>
      <%# render 'shared/navbar-landing-page' %>
      <%= yield %>
    <% else %>

    <div class="display-flex-container">
      <div class="sidebar-rest">
        <%= render('shared/sidebar-rest', folders: @folders) if user_signed_in? %> <!-- this is comming from the application controller (set_folder method) -->
      </div>
      <div class="center-content">
        <%= yield %>
      </div>
      <div class="friends-bar"> <!-- this should only be on the sources index page make an if else statement with flex grow the center will then take up the won space-->
        <%= render('shared/friends-feed') if user_signed_in? %>
      </div>
    </div>

    <% end %>



<%= link_to "hello", destroy_user_session_path, method: :delete  %>
  </body>
</html>
