<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <title>Capture</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <%= javascript_pack_tag 'application', defer: true %>
    <%= favicon_link_tag asset_path('capture_logo.png') %>

  </head>
      <body>
        <!-- Landing Page -->
        <% if @landing_page_navbar %>
          <%= render 'shared/flashes' %>
          <%= yield %>

        <!-- Everything Else -->
        <% else %>
          <%= render 'shared/flashes' %>
          <%= render 'shared/navbars/top-navbar' %>
          <%= render 'shared/title-bar'%>

          <div class="display-flex-container">

            <!-- Sidebar (Left-Navbar)-->
            <div class="sidebar-rest">
              <%= render 'shared/left-column/left-column' %> <!-- this is comming from the application controller (set_folder method) -->
            </div>

            <!-- Center Content -->
            <div class="center-content">
              <%= yield %>
            </div>

            <!-- Right Column -->
            <div class="right-column">
              <%= render 'shared/right-column/right-column' if user_signed_in?%>
            </div>

          </div>
        <% end %>

      </body>
</html>
